html, *{
    font-family: "Roboto Slab", serif;
    background-color: black;
    color: white;
}


.container{
    padding: 25px 200px;
}

.content-container{
    display: block;
    margin: 65px 0px;
}

.content{
    font-size: 1.25rem;
}

.book-cover{
    height: 250px;
    float: left;
    padding-right: 20px;
}

.date-rating{
    opacity: 50%;
}